.newsletter-latest {
    grid-row: s/e;
    grid-column: latest-s/latest-e;

    display: grid;
    grid-template-rows: [s] 25.8rem [m] 40.5rem [e];
    grid-template-columns: [s] 1fr [e];

    border: .1rem solid $color-gray-E6;
    border-radius: .5rem;
    
    & > * {
        grid-column: s/e;
    }

    &__title,
    &__image {
        justify-self: center;
        align-self: center;
    }
    
    &__title {
        grid-row: s/m;
        color: white;
        font-size: 4rem;
        font-weight: 500;
        line-height: 5rem;
        text-align: center;
    }
    &__image {
        grid-row: s/m;
        z-index: -10;

        width: 96rem;
        height: 25.8rem;
        object-fit: cover;
    }
    &__body {
        grid-row: m/e;
        p {
            margin: 6.3rem 6.05rem;
            line-height: 2.2rem;
            font-size: 1.6rem; 
        }
    }

    &__button {
        grid-row: s/m;
        grid-column: s/e;
        align-self: end;
        justify-self: end;
        
        margin-right: 1rem;
        margin-bottom: 1.2rem;
    }
}