.requests {
    grid-row: s/e;
    grid-column: requests-s/requests-e;
    align-self: start;

    display: grid;
    grid-row-gap: 1rem;

    border: .1rem solid $color-gray-E6;
    border-radius: .5rem;
}