.sign-in {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
}

.sign-in-form {
    display: grid;
    grid-template-columns: [s] 1fr [input-s] 62.9rem [input-e] 1fr [e];
    justify-items: center;

    &__title {
        justify-self: start;
        width: 100%;
        margin-top: 6.6rem;
        grid-column: s/e;
    }

    &__email {
        margin-top: 7.7rem;
        grid-column: input-s/input-e;
    }
    
    &__password {
        margin-top: 4.4rem;
        grid-column: input-s/input-e;
    }
    
    &__login {
        margin-top: 8.8rem;
        grid-column: input-s/input-e;
    }
    
    &__text-links {
        margin-top: 5.2rem;
        grid-column: input-s/input-e;
    }
}

