.tab-nav {
    display: grid;
    grid-template-rows: [tabs-s] 5rem [tabs-e content-s] 1fr [content-e];

    height: 100%;

    &__tabs {
        grid-row: tabs-s/tabs-e;

        display: grid;
        grid-template-rows: [s] 1fr [m] 1fr 1fr [e];
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;

        justify-content: center;
        grid-column-gap: 4.6rem;

        border-bottom: 1px solid $color-gray-E6;
    }
    
    &__tab {
        grid-row: m/e;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: center;
        width: 9rem;
        border-bottom: 2px solid transparent;
    }

    &__active {
        color: $color-red-BA;
        border-bottom: 2px solid $color-red-BA;
    }
}